<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="flase"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="DataMapper">
            <file>./tests/Data/DataMapperTest.php</file>
        </testsuite>
        <testsuite name="Data Fields">
            <directory suffix=".php">./tests/Data/Fields</directory>
        </testsuite>
    </testsuites>
</phpunit>